header {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    line-height: 2;
}
canvas{
    margin-left: 100px;
    margin-top: 20px;
}
.diamond{
    transform: rotate(45deg);
    position: absolute;
}
button{
    border-radius: 10px;
    position: absolute;
}
.rectangle{
    background-color: black;
    border-radius: 10px;
    height: 14px;
    width: 100px;
    position: absolute;
    }
.scoreBox{
    font: "times";
    font-size: 10pt;
    text-align: right;
    margin-left: 30px;
    height: 200px;
    width: 100px;
    position: absolute;
}